<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'b_logo_blue.png' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="sidebar">
    <div id="logo">
      <%= link_to root_path do %>
      <%= image_tag "b_logo_blue.png"%>
      <% end %>
    </div>

    <ul>
      <li class="category">Website</li>
      <li><%= link_to "Blog", root_path %></li>
      <li><%= link_to "Tag Cloud", cloudtags_path %></li>
      <% if user_signed_in? %>
      <li><%= link_to 'New Post', new_post_path %></li>
      <% end %>
    </ul>

    <ul>
      <li class="category">Social</li>
      <li><a href="https://github.com/adelinelim/myblog">Github</a></li>
      <li><a href="mailto:adelineyiing@gmail.com">Email</a></li>
    </ul>

  </div>

  <div id="main_content">
    <div id="header">
      <% if current_page?(root_path) %>
        <p>All Posts</p>
      <% else %>
        <%= link_to "Back to All Posts", root_path %>
      <% end %>

      <% if user_signed_in? %>
        <div class="buttons">
          Logged in as <%= current_user.email %>
          <%#= link_to "New Post", new_post_path, class: "button" %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "button" %>
        </div>
      <% else %>
        <div class="buttons">
          <%= link_to "Sign up", new_user_registration_path, class: "button" %>
          |
          <%= link_to "Log In", new_user_session_path, class: "button" %>
        </div>
      <% end %>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, id: "notice") %>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
